<%= form_with model: @archive_item, html: { class: "admin-form" } do |form| %>
  <div class="form-row">
    <div class="form-set">
      <%= form.label :title, "Subject" %>
      <%= form.text_field :title, autocomplete: "off", "data-lpignore": true %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :medium, "Medium" %>
      <div class="form-select-wrapper" >
        <%= form.select :medium, [["Photo", "photo"], ["Film", "film"], ["Audio", "audio"]] %>
      </div>
    </div>
    <div class="form-set">
      <%= form.label :credit, "Credit" %>
      <%= form.text_field :credit, "data-lpignore": true %>    
    </div>
  </div>
  
  <div class="form-row">        
    <div class="form-set">
      <%= form.label :year, "Year" %>
      <%= form.text_field :year, "data-lpignore": true %>
    </div>
    <div class="form-set checkbox-wrapper">
      <%= form.check_box :date_is_approx %> <span>- Date is approximate</span>
    </div>
  </div>

  <div class="form-row">        
    <div class="form-set">
      <%= form.label :person_list, "People" %>
      <%= form.hidden_field :person_list, :value => @archive_item.person_list.join(', '), class: "js-tag-input tag-input", "data-tag-options": @person_options.join(', ') %>
    </div>    
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :location_list, "Location" %>
      <%= form.hidden_field :location_list, :value => @archive_item.location_list.join(', '), class: "js-tag-input tag-input", "data-tag-options": @location_options.join(', ') %>
    </div>    
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :tag_list, "Tags" %>
      <%= form.hidden_field :tag_list, :value => @archive_item.tag_list.join(', '), class: "js-tag-input tag-input", "data-tag-options": @tag_options.join(', ') %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-set">
      <%= form.label :notes, "Notes" %>
      <%= form.rich_text_area :notes %>
    </div>
  </div>

  <div class="form-row">
    <% if @archive_item.media.attached? %>
      <div class="form-set">        
        <label>Media Preview</label>                        
          <% if @archive_item.medium == "photo" %>    
              <%= image_tag @archive_item.media.variant(resize_to_limit: [600, nil]), class: "admin-form-image" %>            
          <% else %>
              <div class="admin-form-filename">File: <%= @archive_item.media.filename %></div>
          <% end %>
      </div>
    <% end %>
    <div class="form-set">
      <%= form.label :media, "Media File" %>
      <%= form.file_field :media, direct_upload: true %>
    </div>    
  </div>

  <div class="form-row">
    <% if @archive_item.medium_photo.attached? %>
      <div class="form-set">        
        <label>Medium Photo Preview</label>                                    
        <%= image_tag @archive_item.medium_photo.variant(resize_to_limit: [600, nil]), class: "admin-form-image" %>        
      </div>
    <% end %>
    <div class="form-set">
      <%= form.label :medium_photo, "Medium Photo" %>
      <%= form.file_field :medium_photo, direct_upload: true %>
    </div>    
  </div>
  
  <% if notice || alert %>
    <div class="err-messages">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </div>
  <% end %>
  
  <div class="form-set form-controls">
    <%= form.submit @submit_text, class: "button-round" %>
  </div>
<% end %>